.k5k5-input {
  width: 100%;
  padding: 8px 20px;
  margin: 10px auto;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__inner {
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
}
