.side-menu {
  width: 70px;
  padding: 5px;
  height: 100%;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;

  .side-menu__block {
    margin-top: 20px;
    > div {
      margin: 5px auto;
      width: 45px;
      height: 45px;
      span.iconfont {
        transition: all 0.3s;
        font-size: 22px;
        color: #989898;
        font-weight: bold;
        &.active {
          color: #136cce;
          transition: all 0.3s;
        }
      }
    }

    &.bottom_block {
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      > div:active {
        opacity: 1;
      }
      >div:hover {
        background: none;
        .iconfont {
          color: #136cce;
        }
      }
    }
  }
}
